*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    font-family: "Nunito Sans", sans-serif;
}
body.dark{
    --background-color: hsl(207, 26%, 17%); 
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
    background-color: var(--background-color);
    color: var(--text-color);
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 74px;
    justify-content: space-between;
    font-family: Nunito,sans-serif;
    margin-top: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0,0,0.2);
    margin-bottom: 34px;
    background-color: var(--elements-color);
}
.mode{
    cursor: pointer;
}
.title{
    text-decoration: none;
    color: black;
    color: var(--text-color);
}

.header-content i span{
    font-size: 16px;
    font-size: bold;
}
.header-content i{
    font-size: 24px;
}

.search-filter{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    background-color: var(--elements-color);
    color: var(--text-color);

}

.search{
    width: 250px;
    height: 48px;
    padding-top: 14px;
    padding-left: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

.search input {
    outline: none;
    border: none;
    background-color: var(--elements-color);
    color: var(--text-color);
}

.filter{
    width: 180px;
    height: 48px;
    padding-top: 14px;
    padding-left: 8px;
    /* text-align: center; */
    border: 1px solid grey;
    border-radius: 4px;
}

.filter select{
    outline: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    background-color: var(--elements-color);
    color: var(--text-color);

}





.main-box{
    padding-inline: 64px;
    margin-top: 36px;
    display: flex;
    gap: 64px;
   margin: 0 auto;
    
    max-width: 1200px;
    flex-wrap: wrap;
}
.card-box{
    margin-top: 64px;
    width: 220px;
    height: 240px;
    display: block;
    border-radius: 8px ;
    box-shadow: 0 2px 2px 0 rgba(0, 0,0,0.4); 
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: var(--elements-color);
}

.con-img{
   display: inline-block;
    width: 100%;
    height: 50%;
}

.card-text{
    padding-top: 4px;
    padding-bottom: 12px;
    padding-inline: 8px;
}

.card-text h3 {
    padding-bottom: 6px;
    font-family: sans-serif;
}